.viewBattle{
    background-image: url('../img/background/Mountain_BG_02.png');
    width: 90%;
    max-width: 600px;
    height: 550px;
    border: solid 5px $p-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
    background-position: 10% 80%;
    background-size: cover;
    padding-top: 40px;
    box-sizing: border-box;
    .title{
        color: $white;
        background: $p-dark;
        font-size: $f-large;
        position: absolute;
        top: 0;
        width: 100%;
        padding: 5px;
        text-align: center;
        box-sizing: border-box;
        text-transform: uppercase;
    }
    ul{
        display: flex;
        padding: 10px;
        flex-direction: column;
        list-style: none;
        color: $gray-dark;
        align-items: center;
        text-transform: uppercase;
        font-size: $f-normal;
        margin: 0 30px;
        position: relative;
        padding-top: 30px;
        li{
            padding: 5px;
            z-index: 1;
            font-weight: bold;
            &:nth-child(even){
                text-align: center;
            }
        }
    }
    .ulAtk{

    }
    .ulDef{
    }
    .img{
        &--battle{
            background: $p-dark;
            padding: 10px;
            visibility: hidden;
        }
        &--atk{
            width: 100px;
            border-radius: 50%;
        }
        &--def{
            width: 100px;
            border-radius: 50%;
        }
        &--backBattle{
            position: absolute;
            width: 140%;
            height: 110%;
            margin-top: -30px;
        }
        &--headerFight{
            width: 300px;
            position: absolute;
            top: 10px;
            z-index: 2;
        }
        &--border{
            position: absolute;
            width: 105px;
            height: 105px;
            top: 12%;
            z-index: 5;
        }
    }
    .messageBattle{
        color: $gray-dark;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-transform: uppercase;
        font-size: $f-xs;
        background-image: url('../img/background/window.png');
        background-position: center;
        background-size: 55% 100%;
        background-repeat: no-repeat;
        height: 100px;
    }
}