<div class="informations">
    <ul>
        <!-- <li class="nmFeudo">Vila do Ancapstão</li> -->
        <li><?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="16px" height="16px" viewBox="0 0 438.529 438.529" style="enable-background:new 0 0 438.529 438.529;"
                 xml:space="preserve">
            <g>
                <g>
                    <path d="M180.156,225.828c-1.903-1.902-4.093-2.854-6.567-2.854c-2.475,0-4.665,0.951-6.567,2.854l-94.787,94.787l-41.112-41.117
                        c-3.617-3.61-7.895-5.421-12.847-5.421c-4.952,0-9.235,1.811-12.851,5.421c-3.617,3.621-5.424,7.905-5.424,12.854v127.907
                        c0,4.948,1.807,9.229,5.424,12.847c3.619,3.613,7.902,5.424,12.851,5.424h127.906c4.949,0,9.23-1.811,12.847-5.424
                        c3.615-3.617,5.424-7.898,5.424-12.847s-1.809-9.233-5.424-12.854l-41.112-41.104l94.787-94.793
                        c1.902-1.903,2.853-4.086,2.853-6.564c0-2.478-0.953-4.66-2.853-6.57L180.156,225.828z"/>
                    <path d="M433.11,5.424C429.496,1.807,425.212,0,420.263,0H292.356c-4.948,0-9.227,1.807-12.847,5.424
                        c-3.614,3.615-5.421,7.898-5.421,12.847s1.807,9.233,5.421,12.847l41.106,41.112l-94.786,94.787
                        c-1.901,1.906-2.854,4.093-2.854,6.567s0.953,4.665,2.854,6.567l32.552,32.548c1.902,1.903,4.086,2.853,6.563,2.853
                        s4.661-0.95,6.563-2.853l94.794-94.787l41.104,41.109c3.62,3.616,7.905,5.428,12.854,5.428s9.229-1.812,12.847-5.428
                        c3.614-3.614,5.421-7.898,5.421-12.847V18.268C438.53,13.315,436.734,9.04,433.11,5.424z"/>
                </g>
            </g><g></g><g></g><g></g><g></g><g> </g><g></g><g></g><g></g><g></g><g></g><g></g><g> </g><g></g><g></g><g></g>
            </svg>
            {{country.areaNow / 1000}} Km²
        </li>
        <li class="population">
                <?xml version="1.0" encoding="utf-8"?>
                <!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg version="1.1" id="users-team" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 1010 739.746" enable-background="new 0 0 1010 739.746" xml:space="preserve">
                <g id="users-team-users-team">
                    <path fill="#A27F57" d="M580.8887,565.1406c-15.1524-2.4024-15.4961-43.6339-15.4961-43.6339s44.501-43.669,54.1816-102.3652
                        c26.0781,0,42.1885-62.417,16.0918-84.3775C636.7852,311.6469,669.1855,153.331,505,153.331
                        c-164.1675,0-131.7314,158.3159-130.6479,181.4331c-26.0787,21.9605-9.9693,84.3775,16.1098,84.3775
                        c9.6802,58.6962,54.1807,102.3652,54.1807,102.3652s-0.3613,41.2314-15.4956,43.6339
                        c-48.7627,7.7109-230.8096,87.3027-230.8096,174.6053H505h306.6992C811.6992,652.4433,629.6514,572.8515,580.8887,565.1406z"/>
                    <g>
                        <path fill="#A27F57" d="M274.7681,579.0644c35.2353-21.6719,77.9843-41.7549,113.0571-53.873
                            c-12.5879-17.8614-26.6025-42.2618-35.398-71.1036c-12.2812-10.041-22.3227-24.4179-28.77-42.0078
                            c-6.4116-17.6816-8.8676-37.4209-6.8447-55.6435c1.4268-13.1118,5.165-25.3208,10.8721-36.0122
                            c-3.4492-37.2403-5.9239-110.2578,41.8999-163.5171c18.5659-20.6612,41.9717-35.5069,70.0556-44.4463
                            C434.6011,60.6821,408.3599,0,306.6987,0c-164.2036,0-131.7675,158.3159-130.666,181.4326
                            c-26.0786,21.9253-9.9692,84.3774,16.1099,84.3774c9.6982,58.6597,54.1626,102.3286,54.1626,102.3286
                            s-0.3613,41.25-15.4776,43.6699C182.0469,419.4843,0,499.0761,0,586.415h263.2456
                            C267.0205,583.9414,270.8311,581.5214,274.7681,579.0644z"/>
                        <path fill="#A27F57" d="M746.7715,586.415H1010c0-87.3389-182.0469-166.9307-230.8457-174.6065
                            c-15.0801-2.4199-15.4414-43.6699-15.4414-43.6699s44.4824-43.6689,54.1797-102.3286c26.0801,0,42.1894-62.4521,16.1103-84.3774
                            C835.0859,158.3159,867.5234,0,703.3193,0C601.6582,0,575.3984,60.6821,570.3594,112.4609
                            c28.1201,8.9394,51.5263,23.7851,70.0566,44.4463c47.8223,53.2593,45.3486,126.2768,41.917,163.5171
                            c5.7256,10.6914,9.4463,22.9004,10.8721,36.0122c2.041,18.2226-0.4336,37.9619-6.8438,55.6435
                            c-6.4668,17.5899-16.4717,31.9668-28.7704,42.0078c-8.8135,28.8418-22.8467,53.2422-35.416,71.1036
                            c35.0732,12.1181,77.8574,32.2011,113.0566,53.873C739.1689,581.5214,743.0156,583.9414,746.7715,586.415z"/>
                    </g>
                </g>
                </svg>
            <span>{{country.population + "/" + country.populationNow + "/" + country.maxPopulation}}</span>                
        </li>
        <!-- <li class="moneyGrowth">
                <?xml version="1.0" encoding="iso-8859-1"?>
                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="16px" height="16px" viewBox="0 0 512.006 512.006" style="enable-background:new 0 0 512.006 512.006;"
                     xml:space="preserve">
                <g>
                    <path d="M256.003,448.005c0-12.594-6.266-23.063-16.078-31.906c9.797-8.938,16.078-19.5,16.078-32.094s-6.266-23.063-16.078-31.906
                        c9.797-8.938,16.078-19.5,16.078-32.094c0-84-256-84-256,0c0,12.594,6.281,23.156,16.078,32.094
                        c-9.812,8.844-16.078,19.313-16.078,31.906s6.281,23.156,16.078,32.094c-9.812,8.844-16.078,19.312-16.078,31.906
                        c0,42.031,64.391,64,128,64S256.003,490.036,256.003,448.005z M128.003,480.005c-59.547,0-96-20.688-96-32
                        c0-4,4.828-9.219,13.484-14.281c23.359,9.344,52.891,14.281,82.516,14.281s59.156-4.938,82.516-14.281
                        c8.656,5.062,13.484,10.281,13.484,14.281C224.003,459.317,187.55,480.005,128.003,480.005z M128.003,416.005
                        c-59.547,0-96-20.688-96-32c0-4,4.828-9.219,13.484-14.281c23.359,9.344,52.891,14.281,82.516,14.281s59.156-4.938,82.516-14.281
                        c8.656,5.063,13.484,10.281,13.484,14.281C224.003,395.317,187.55,416.005,128.003,416.005z M128.003,352.005
                        c-59.547,0-96-20.688-96-32c0-11.25,36.453-32,96-32s96,20.75,96,32C224.003,331.317,187.55,352.005,128.003,352.005z
                         M368.003,120.005c0,4.438-3.594,8-8,8h-144c-4.422,0-8-3.563-8-8c0-4.438,3.578-8,8-8h144
                        C364.409,112.005,368.003,115.567,368.003,120.005z M368.003,144.005c0,4.438-3.594,8-8,8h-144c-4.422,0-8-3.563-8-8
                        c0-4.438,3.578-8,8-8h144C364.409,136.005,368.003,139.567,368.003,144.005z M204.284,48.005
                        c-8.828-15.312-3.578-34.875,11.719-43.688c15.313-8.875,34.875-3.625,43.719,11.688l0.531,0.938
                        c5.438-9.938,15.625-16.938,27.75-16.938s22.312,7,27.75,16.938l0.531-0.938c8.844-15.312,28.406-20.562,43.719-11.688
                        c15.312,8.813,20.562,28.375,11.719,43.688l-19.719,56h-128L204.284,48.005z M482.19,451.63
                        c7.062-24.125,19.719-91.906-32.188-163.625c-34-47-39-16-98-128h-128c-26.391,50.125-41.953,71.531-54.172,84.188
                        c55.438,7.938,102.172,32,102.172,75.813c0,11.469-3.562,22.188-10.625,32.031c7.062,9.812,10.625,20.5,10.625,31.969
                        s-3.562,22.188-10.625,32.031c7.062,9.812,10.625,20.5,10.625,31.969c0,30.188-22.859,51.062-54.672,64h291.734
                        c1.78-5.031,2.938-10.375,2.938-16C512.003,475.942,499.659,458.786,482.19,451.63z M451.472,442.63l-8.094,27.688
                        c0,0-3.375-86.312-57.375-149.312c-51.688-60.281-53.125-129-53.125-129c32,58.344,48.625,74.594,67.969,90.375
                        c7.625,6.219,13.625,11.125,23.219,24.375C467.253,366.412,457.628,421.661,451.472,442.63z"/>
                </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
                </svg>                
            <span>0/h</span>
        </li> -->
        <li>
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    width="16px" height="16px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <g>
                <path d="M512,480v32H32H0v-32V0h32v480H512z M448,0L322.031,20.594l30.281,37.031l-266.438,218l20.25,24.75l266.469-218l30.281,37
                    L448,0z M413.219,182.563L384,146.844V448h64V90.531L413.219,182.563z M192,271.469V448h64V219.125L192,271.469z M101.609,345.406
                    L96,338.531V448h64V297.625L101.609,345.406z M288,192.938V448h64V140.563L288,192.938z"/>
            </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>                
            <span>{{country.populationGrowth}}/h</span>
        </li>
        <li>
            <?xml version="1.0" ?><svg style="width: 21px !important;height: 18px;" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;}</style></defs><title/><g data-name="Layer 2" id="Layer_2"><path d="M16,29A13,13,0,1,1,29,16,13,13,0,0,1,16,29ZM16,5A11,11,0,1,0,27,16,11,11,0,0,0,16,5Z"/><path d="M21.5,22.5a1,1,0,0,1-.71-.29l-5.5-5.5A1,1,0,0,1,15,16V8a1,1,0,0,1,2,0v7.59l5.21,5.2a1,1,0,0,1,0,1.42A1,1,0,0,1,21.5,22.5Z"/></g><g id="frame"><rect class="cls-1" height="32" width="32"/></g></svg>
            <span class="timer">{{rTimeHour + ':' + rTimeMinute + ':' + rTimeSecond}}</span>
        </li>
        <!-- <li class="government">
            <img src="../../assets/img/icons/government.png" alt="">
            <span>Tribal</span>
        </li> -->
    </ul>
</div>
<!-- <img src="../../assets/img/lvlCity/village.png" alt=""> -->
<!-- <span class="nameLocation">{{country.level + ' ' + user.feudo}}</span> -->
<div id="mapCountry"></div>
<!-- <button class="button1" ng-click="mapFill(2)">Gerar Construção</button> -->