.workerBlock{
    width: auto;
    height: auto;
    max-height:90%;
    background: $p-color;
    border: solid 5px $p-dark;
    z-index: 1;
    min-width: 400px;
    max-width: 70%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    z-index: 10;
    padding-bottom: 10px;
    .title{
        background: $p-dark;
        color: $white;
        text-transform: uppercase;
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        font-size: $f-big;
    }
    .close{
        &:hover{
            color: $p-color;
        }
    }
    .amountWorkers{
        display: flex;
        padding: 10px 5px;
        tr{
            td{
                padding: 5px;
                text-transform: capitalize;
            }
            .totalWorkers{
                text-align: center;
            }
        }
    }
}