.modal{    
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
    .close{
        position: absolute;
        font-size: $f-big;
        color: $white;
        cursor: pointer;
        z-index: 2;
        top: 5px;
        right: 10px;
        font-weight: bold;
    }
    .lightbox{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
        position: fixed;
    }
}