<div class="modal">
    <div class="moreEquips">
        <div class="close" ng-click="abrirView('military','close')">X</div>
        <span class="title">Helmet</span>
        <ul>
            <!-- <li>Capacete de couro</li> -->
        </ul>
        <span class="title">breastplate</span>
        <ul>
            <li>
                <table>
                    <tr ><td rowspan="5"><img src="" alt=""><span>Proteção de pele</span>
                            <ul>
                                <li><span>Pele: 4</span></li>
                            </ul>
                        </td>
                    </tr>
                    <tr><td>Dano</td><td>0</td></tr>
                    <tr><td>Saúde</td><td>0</td></tr>
                    <tr><td>Defesa</td><td>3</td></tr>
                </table>
            </li>
        </ul>
        <span class="title">Boots</span>
        <ul>
            <li>
                <table>
                    <tr ><td rowspan="5"><img src="" alt=""><span>Botas de pele</span>
                        <ul>
                            <li><span>Pele: 1</span></li>
                        </ul>
                    </td></tr>
                    <tr><td>Dano</td><td>0</td></tr>
                    <tr><td>Saúde</td><td>0</td></tr>
                    <tr><td>Defesa</td><td>1</td></tr>
                </table>
            </li>
        </ul>
        <span class="title">gauntlet</span>
        <ul>
            <li>
                <table>
                    <tr ><td rowspan="5"><img src="" alt=""><span>Luvas de pele</span>
                        <ul>
                            <li><span>Pele: 1</span></li>
                        </ul>
                    </td></tr>
                    <tr><td>Dano</td><td>0</td></tr>
                    <tr><td>Saúde</td><td>0</td></tr>
                    <tr><td>Defesa</td><td>1</td></tr>
                </table>
            </li>
        </ul>
        <span class="title">Pants</span>
        <ul>
            <li>
                <table>
                    <tr ><td rowspan="5"><img src="" alt=""><span>Proteção para as pernas de pele</span>
                        <ul>
                            <li><span>Pele: 2</span></li>
                        </ul>
                    </td></tr>
                    <tr><td>Dano</td><td>0</td></tr>
                    <tr><td>Saúde</td><td>0</td></tr>
                    <tr><td>Defesa</td><td>2</td></tr>
                </table>
            </li>
        </ul>
        <span class="title">Arma</span>
        <ul>
            <li>
                <table>
                    <tr ><td rowspan="5"><img src="" alt=""><span>Lança de pedra</span>
                        <ul>
                            <li><span>Madeira: 1</span></li>
                            <li><span>Pedra: 1</span></li>
                        </ul>
                    </td></tr>
                    <tr><td>Dano</td><td>2</td></tr>
                    <tr><td>Saúde</td><td>0</td></tr>
                    <tr><td>Defesa</td><td>0</td></tr>
                </table>
            </li>
        </ul>
        <span class="title">Escudo</span>
        <ul>
            <li>
                <table>
                    <tr ><td rowspan="5"><img src="" alt=""><span>Escudo de madeira</span>
                        <ul>
                            <li><span>Madeira: 2</span></li>
                        </ul>
                    </td></tr>
                    <tr><td>Dano</td><td>0</td></tr>
                    <tr><td>Saúde</td><td>0</td></tr>
                    <tr><td>Defesa</td><td>3</td></tr>
                </table>
            </li>
        </ul>
    </div>
</div>