.actionsBlock{
    width: auto;
    height: auto;
    max-height:90%;
    background: $p-color;
    border: solid 5px $p-dark;
    z-index: 1;
    min-width: 400px;
    max-width: 70%;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    .close{
        &:hover{
            color: $p-color;
        }
    }
    .selectorActions{
        display: flex;
        width: 100%;
        span{
            width: 100%;
            background: $p-dark;
            color: $white;
            text-transform: uppercase;
            padding: 8px 0;
            text-align: center;
            cursor: pointer;
            &:hover{
                box-shadow: 0 -3px 1px inset $light-sombra;
            }
        }
    }
    .itens{
        display: flex;
        padding:10px 5px;
        .actionItem{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            padding: 10px 5px;
            .actions{
                &--img{
    
                }
            }
            table{
                td{
                    padding: 5px 5px;
                    font-size: $f-normal;
                    color: $font-color1;
                    &:last-child{
                        text-align: right;
                    }
                }
                .title{
                    text-align: center !important;
                    text-transform: uppercase;
                    font-size: $f-large;
                    font-weight: bold;
                    color: $p-dark;
                }
                .subTitle{
                    text-align: center !important;
                    text-transform: uppercase;
                    background: $p-dark;
                    color: $white;
                }
            }
        }
    }
}