@import "./settings/_base.scss";
@import "./estilos/base-estilos.scss";
@import "./templates/base-templates.scss";

*{
    margin: 0;
    padding: 0;
    font-family: $roboto;
}
body{
    display: flex;
    justify-content: center;
}

.partialView{
    width: 100%;
}