<div class="modal">
        <div class="lightbox"></div>
        <!-- <button class="button1">Ver mapa</button> -->
        <div class="resourcesBlock">
            <div class="close">X</div>
            <div class="selectorResources">
                <span>Pedreira</span>
                <span>Mina</span>
            </div>
            <section class="itens">
                
                    <div class="resourcesItem">
                        <img src="../../assets/img/icons/resources/pedreira2.png" alt="" class="resources--img">
                        <table>
                            <tr>
                                <td class="title" colspan="2">Pedreira</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="subTitle">Quantidades</td>
                            </tr>
                            <tr>
                                <td>Pedra</td>
                                <td>16000</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="subTitle">Produção</td>
                            </tr>
                            <tr>
                                <td>Pedra</td>
                                <td>2.5 por trabalhador/h</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="subTitle">Trabalhadores</td>
                            </tr>
                            <tr>
                                <td>Máximo</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="subTitle">Valor</td>
                            </tr>
                            <tr>
                                <td colspan="2">1200 coins</td>
                            </tr>
                        </table>
                        <button class="centralizar button1">Comprar</button>
                    </div>
            </section>

            <section class="itens">
                <div class="resourcesItem">
                    <img src="../../assets/img/icons/resources/mine2.png" alt="" class="resources--img">
                    <table>
                        <tr>
                            <td class="title" colspan="2">Mina de ferro</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="subTitle">Quantidades</td>
                        </tr>
                        <tr>
                            <td>Minério de ferro</td>
                            <td>5000</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="subTitle">Produção</td>
                        </tr>
                        <tr>
                            <td>Ferro</td>
                            <td>1 por trabalhador/h</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="subTitle">Trabalhadores</td>
                        </tr>
                        <tr>
                            <td>Máximo</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="subTitle">Valor</td>
                        </tr>
                        <tr>
                            <td colspan="2">1500 coins</td>
                        </tr>
                    </table>
                    <button class="centralizar button1">Comprar</button>
                </div>
            </section>
        </div>
    </div>