.moreInformations{
    width: 60%;
    height: auto;
    // min-height: 70%;
    background: $p-color;
    border: solid 5px $p-dark;
    min-width: 300px;
    max-width: 400px;
    padding-bottom: 20px;
    position: relative;
    animation: $modalHide $hyperRapido linear;
    .close{
        top:8px !important;
        &:hover{
            color: $p-color;
        }
    }
    .titleDesc{
        height: 40px;
        background: $p-dark;
        color:$white;
        align-items: center;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
    section{
        display: flex;
        width: 100%;
        // justify-content: space-between;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
        .image{
            width: 60px;
            height: 60px;
            border: inset 5px;
            padding: 15px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .subBlock{
            display: flex;
            flex-direction: column;
            .timeFinish {
                margin: 5px 0px 0 15px;
                color: $p-dark;
                font-size: $f-medium;
                display: flex;
                align-items: center;
                img{
                    width: 20px;
                }
            }
        }
    }
    .title{
        background: $p-dark;
        padding: 5px 10px;
        color: $white;
        margin-left: 20px;
    }
    table{
        width:100%;
        padding: 20px 10px 10px;
        tr{
            td{
                padding: 5px;
                color: $gray-dark;
                font-size: $f-normal;
            }
            &:first-child{}
        }
        .attr{
            background: $p-dark;
            td{
                color: $white;
                text-align: center;
                padding: 5px;
                margin: 10px 0;
                text-transform: uppercase;
                font-size: $f-medium;
            }
        }
    }
}
.searchActive{
    border-color: $s-dark !important;
    &--Bg{
        border-color: $s-dark !important;
        background: $s-dark !important;
    }
}
.searchDisable{
    border-color: $gray !important;
    &--Bg{
        border-color: $gray !important;
        background: $gray !important;
    }
}
.btnDisable{
    background: $gray-light;
    border-color: $gray;
}
.btnActive{
    background: $s-dark;
    // animation: $bgWalk $rapido cubic-bezier(0, 1.08, 0.95, -0.04) infinite;
    border: none;
    span{
        animation: $sanfona $poucoRapido steps(40, end) infinite;
        overflow: hidden;
    }
}