.status{
    height: auto;
    width: 20%;
    // min-width: 400px;
    display: flex;
    flex-direction: column;
    background: $p-color;
    max-width: 500px;
    padding: 10px;
    border: solid 5px $p-dark;
    .title{
        text-align: center;
        background: $p-dark;
        padding: 5px;
        font-size: $f-big;
        font-weight: bold;
        color: $white;
        text-transform: uppercase;
    }
    table{
        margin: 10px 0;
        tr{
            td{
                text-transform: capitalize;
                color: $gray-dark;
                padding:5px 0;
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
    .gold{
        // background: $p-dark;
        padding: 10px 0;
        td{
            &:first-child{
                // text-align: center;
            }
        }
        &-icon{
            width: 32px;
            height: 32px;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .money{
            color:$gray-dark;
            font-size: $f-big;
        }
    }
}