.m-quest{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
    .lightbox{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
        position: fixed;
    }
    .modal{
        &--wPage{
            width: 500px;
            height: 290px;
            background: $white;
            z-index: 1;
            padding: 30px;
            box-sizing: border-box;
            position: relative;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (max-width: $mobile){
                width: 100%;
                height: 100%;
                justify-content: center;
            }
            .close{
                color: $white;
                text-transform: uppercase;
                font-weight: bold;
                border: none;
                background: none;
                font-size: 18px;
                position: absolute;
                right: 20px;
                cursor: pointer;
                outline: none;
                top: 20px;
                z-index: 1;
                @media screen and (max-width: $mobile){
                    font-size: $f-xs;
                }
                &:hover{
                    color: $s-color;
                }
            }
            .titulo{
                text-transform: uppercase;
                width: 500px;
                height: 60px;
                margin: -30px;
                margin-bottom: 15px;
                background: $p-dark;
                color: $white;
                box-sizing: border-box;
                display: flex;
                justify-content: center;
                align-items: center;
                @media screen and (max-width: $mobile){
                    position: absolute;
                    top: 0px;
                    padding: 0 90px;
                    margin: 0;
                    line-height: 30px;
                    height: 80px;
                }
            }
            .valueAds {
                width: 100%;
                color: $font-color2;
                padding: 30px 0 20px;
                font-size: $f-xs;
                font-weight: bold;
            }
        }
    }
}