.researchBlock{
    width: auto;
    height: 90%;
    background: $p-color;
    // background-image: url('../img/background/research/techno_pale.png');
    border: solid 5px $p-dark;
    z-index: 1;
    min-width: 400px;
    max-width: 70%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    animation: $surgirBC $hyperRapido linear;
    .close{
        &:hover{
            color: $p-color;
        }
    }
    .headerResearch{
        width:100%;
        height: 50px;
        background: $p-dark;
        display: flex;
        justify-content: space-evenly;
        color: $white;
        align-items: center;
        padding: 10px 0;
        font-size:$f-big;
        text-transform: uppercase;
        position: relative;
        box-sizing: border-box;
    }
    .researchItens{
        display: flex;
        flex-direction: column;
        padding:10px 5px;
        .category{
            color: $white;
            background: $p-dark;
            cursor: pointer;
            text-transform: uppercase;
            padding: 10px 10px;
            text-align: center;
        }
        ul{
            li{
                padding: 5px 20px;
                font-size: $f-medium;
                color: $gray-dark;
                cursor: help;
                &:hover{
                    padding-left: 30px;
                }
            }
            .disable{
                color: $font-color2;
                cursor: not-allowed;
            }
            .active{
                color: $s-dark;
            }
        }
    }
    .wise{
        width: auto;
        text-align: center;
        text-transform: capitalize;
        color: $white;
        position: absolute;
        top: 15%;
        left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: $f-big;
        img{
            width: 30px;
            margin-right: 5px;
        }
    }
}