<div class="modal" ng-app="military">
    <script src="../../controllers/militaryCtrl.js"></script>
    <div class="lightbox"></div>
    <!-- <button class="button1">Ver mapa</button> -->
    <div class="militaryBlock">
        <div class="close" ng-click="abrirView('close')">X</div>
        <div class="selectorMilitary">
            <span>Infantaria</span>
            <!-- <span>Cavalaria</span> -->
            <!-- <span>Arqueiro</span> -->
            <!-- <span>Cerco</span> -->
        </div>
        <table class="needResources">
            <caption class="title">Recursos necessários</caption>
            <tr>
                <td>Tempo</td>
                <td>00:00:20</td>
            </tr>
        </table>
        <div class="recrutar">
            <input type="text" class="inputs-text2" placeholder="Quantidade">
            <button class="button1">recrutar</button>
        </div>
        <div class="doll"><img src="../../assets/img/military/boneco.png" alt="" style="z-index: 10;"></div>
        <div class="boxEquip" id="helmet" ng-click="abrirView('military','equipments')"><img src="../../assets/img/icons/military/helmet.png" alt=""></div>
        <div class="boxEquip" id="breastplate" ng-click="abrirView('military','equipments')"><img src="../../assets/img/icons/military/breastplate.png" alt=""></div>
        <div class="boxEquip" id="boots" ng-click="abrirView('military','equipments')"><img src="../../assets/img/icons/military/boots.png" alt=""></div>
        <div class="boxEquip" id="Gauntlet" ng-click="abrirView('military','equipments')"><img src="../../assets/img/icons/military/gauntlet.png" alt=""></div>
        <div class="boxEquip" id="pants" ng-click="abrirView('military','equipments')"><img src="../../assets/img/icons/military/pants.png" alt=""></div>
        <div class="boxEquip" id="weapon" ng-click="abrirView('military','equipments')"><img src="../../assets/img/icons/military/sword.png" alt=""></div>
        <div class="boxEquip" id="shield" ng-click="abrirView('military','equipments')"><img src="../../assets/img/icons/military/shield.png" alt=""></div>
        <table class="attrMilitary">
            <caption>Atributos</caption>
            <tr>
                <td>Saúde</td>
                <td>{{military.infantary.health}}</td>
            </tr>
            <tr>
                <td>Dano</td>
                <td>{{military.infantary.damage}}</td>
            </tr>
            <tr>
                <td>Força</td>
                <td>{{military.infantary.force}}</td>
            </tr>
            <tr>
                <td>Defesa Natural</td>
                <td>{{military.infantary.naturalDefense}}</td>
            </tr>
            <tr>
                <td>Defesa Geral</td>
                <td>{{military.infantary.defense}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="construcaoModal" ng-include src="'./modal/militaryModal/militaryModal.html'" ng-if="activeAba == 'equipments'"></div>