<div class="modal" ng-app="research">
    <div class="lightbox"></div>
    <div class="researchBlock">
        <div class="close" ng-click="abrirView('close','close')">X</div>
        <div class="headerResearch">
            <span class="wise"><img src="../../../assets/img/icons/research/wise.png" alt="wise-mask">{{wises.tribalWise.amount}}</span>
            <span>Descobertas</span>
        </div>
        <section class="researchItens">
            <span class="category">Militar</span>
            <ul>
                <li ng-repeat="value in research | filter: {category: 'militar'}"
                ng-click="[abrirView('research','moreResearch'), researchIdentifier(value.id)]"
                ng-class="activeResearch == value.name ? 'active' : (value.status != 1 ? 'disable' : 'habilitado')">
                    {{value.name}}
                </li>
            </ul>
            <span class="category">Produção</span>
            <ul>
                <li ng-repeat="value in research | filter: {category: 'produtividade'}"
                ng-click="[abrirView('research','moreResearch'), researchIdentifier(value.id)]"
                ng-class="activeResearch == value.name ? 'active' : (value.status != 1 ? 'disable' : 'habilitado')">
                    {{value.name}}
                </li>
            </ul>
            <span class="category">Construção</span>
            <ul>
                <li ng-repeat="value in research | filter: {category: 'construcoes'}"
                ng-click="[abrirView('research','moreResearch'), researchIdentifier(value.id)]"
                ng-class="activeResearch == value.name ? 'active' : (value.status != 1 ? 'disable' : 'habilitado')">
                    {{value.name}}
                </li>
            </ul>
            <span class="category">Científico</span>
            <ul>
                <li ng-repeat="value in research | filter: {category: 'cientifico'}"
                ng-click="[abrirView('research','moreResearch'), researchIdentifier(value.id)]"
                ng-class="activeResearch == value.name ? 'active' : (value.status != 1 ? 'disable' : 'habilitado')">
                    {{value.name}}
                </li>
            </ul>
<!-- 
            <span class="category">Militar</span>
            <ul>
                <li ng-click="[abrirView('research','moreResearch'), researchIdentifier(1)]">Guerreiro tribal</li>
                <li ng-click="abrirView('research','moreResearch')" class="disable">Lança de pedra</li>
                <li ng-click="abrirView('research','moreResearch')" class="disable">Armadura de pele</li>
                <li ng-click="abrirView('research','moreResearch')" class="disable">Escudo de madeira</li>
            </ul>
            
            <span class="category">Produtividade</span>
            <ul>
                <li ng-click="[abrirView('research','moreResearch'), researchIdentifier(0)]">Roda</li>
                <li ng-click="abrirView('research','moreResearch')" class="disable">Ferramentas de madeira e pedra fortificada</li>
            </ul>

            <span class="category">Construções</span>
            <ul>
                <li ng-click="[abrirView('research','moreResearch'), researchIdentifier(2)]">Agricultura</li>
                <li ng-click="abrirView('research','moreResearch')" class="disable">Trabalho com madeira</li>
            </ul>
            
            <span class="category">Cientifico</span>
            <ul>
                <li ng-click="[abrirView('research','moreResearch'), researchIdentifier(3)]">Passagem de conhecimento tribal</li>
            </ul> -->
        </section>
    </div>
</div>
<div class="construcaoModal" ng-include src="'./modal/researchModal/researchModal.html'" ng-if="activeAba == 'moreResearch'"></div>
