<script src="../../controllers/statusCtrl.js"></script>
<!-- <span class="title">Finanças</span>
<table class="gold">
    <tr>
        <td><img src="../assets/img/icons/coins.png" class="gold-icon" alt=""></td>
        <td>
            <span class="money">9999999</span>
        </td>
    </tr>
    <tr>
        <td><img src="../assets/img/icons/safebox.png" class="gold-icon" alt=""></td>
        <td>
            <span class="money">1000</span>
        </td>
    </tr>
</table> -->
<span class="title">Recursos</span>
<table>
    <tr ng-repeat="resource in resources | orderBy: criterion:directionFilter">
        <td ng-click="orderBy(name)">{{resource.name}}</td>
        <td ng-click="orderBy(amount)">{{resource.amount}}</td>
    </tr>
    <!-- <tr>
        <td>Ferro</td>
        <td>0000</td>
    </tr> -->
</table>
<span class="title">Trabalhadores</span>
<table>
    <tr ng-repeat="work in workers">
        <td ng-click="orderBy(name)">{{work.name}}</td>
        <td ng-click="orderBy(amount)">{{work.amount}}</td>
    </tr>
</table>
<span class="title">Tropas/Exército</span>
<table>
    <tr>
        <td>Infantaria</td>
        <td>{{military.infantary.amount}}</td>
    </tr>
    <!-- <tr>
        <td>Cavalaria</td>
        <td>0000</td>
    </tr>
    <tr>
        <td>Arquearia</td>
        <td>0000</td>
    </tr>
    <tr>
        <td>Cerco</td>
        <td>0000</td>
    </tr> -->
</table>
<!-- <span class="title">Defesas</span>
<table>
    <tr>
        <td>Muralha</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Torres de vigia</td>
        <td>0</td>
    </tr>
</table> -->