<html lang="pt-br" ng-app='dashboard'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../../../node_modules/angular/angular.js"></script>
    <script src="../../../../js/services/timerService.js"></script>
    <script src="../../../../js/controllers/mainController.js"></script>
    <title>cronometro</title>
</head>
<body ng-controller="mainController">
    <input type="text" class="seconds" ng-model='timeWork'> {{timeWork}}
    <div>
        <span>Horario atual(AM/PM)</span>
        <br>
        <span class="timer">{{dateNow | date: 'HH:mm:ss'}}</span>
    </div>
    <div>
        <span>Horario atual</span>
        <br>
        <span class="timer">{{dateNow | date: 'hh:mm:ss a'}}</span>
    </div>
    <div>
        <span>Cronometro</span>
        <br>
        <span class="timer">{{hourTimer + ":" + minuteTimer + ":" + secondTimer}}</span>
    </div>
    <div>
        <span>Final Time</span>
        <br>
        <span class="timer">{{finalTime.hour + ":" + finalTime.minute + ":" + finalTime.second}}</span>
    </div>
    <button class="button1" ng-click="clickTeste()">Play</button>
</body>
</html>
