<html ng-app="dashboard">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../assets/css/estilo.css">
        <script src="../node_modules/angular/angular.js"></script>
        <script src="../js/services/timerService.js"></script>
        <script src="../js/controllers/mainController.js"></script>
        <!-- <script src="../js/controllers/researchCtrl.js"></script> -->
    </head>
    <body ng-controller="mainController">
        <!-- Templates -->
        <div class="construcaoModal" ng-include src="'./templates/actions/actions.html'" ng-if="viewAtiva == 'actions'"></div>
        <div class="construcaoModal" ng-include src="'./templates/construcao/construcao.html'" ng-if="viewAtiva == 'construction'"></div>
        <!-- <div class="construcaoModal" ng-include src="'./templates/resources/resources.html'"></div> -->
        <div class="construcaoModal" ng-include src="'./templates/research/research.html'" ng-if="viewAtiva == 'research'"></div>
        <div class="construcaoModal" ng-include src="'./templates/military/military.html'" ng-if="viewAtiva == 'military'"></div>
        <div class="construcaoModal" ng-include src="'./templates/workers/workers.html'" ng-if="viewAtiva == 'workers'"></div>

        <!-- Notifications -->
        <div class="construcaoModal" ng-include src="'./templates/actions/actions.html'" ng-if="viewAtiva == 'actions'"></div>

        <!-- Modais -->
        <div class="construcaoModal" ng-include src="'./notification/notification.html'" ng-if="Notify.ativo"></div>

        <!-- SubTemplates -->
        <div class="sidebar vCenter" ng-include src="'./templates/dashboard/sidebar/sidebar.html'"></div>
        <div class="map allCenter" ng-include src="'./templates/dashboard/map/map.html'"></div>
        <div class="status" ng-include src="'./templates/dashboard/status/status.html'"></div>
    </body>
</html>