.notification{
    width: 250px;
    position: absolute;
    height: 100px;
    background: $p-dark;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    box-shadow: 2px 2px 3px $light-sombra;
    display: flex;
    padding:10px;
    box-sizing: border-box;
    img {
        width: 100px;
        max-height: 100px;
        background: $p-dark;
    }
    span{
        margin: 5px 10px;
        color: $white;
        text-transform: uppercase;
        font-size: $f-medium;
        display: flex;
        align-items: center;
        font-weight: $white;
    }
}