.modalAnimation{
    animation: $surgirBC $muitoRapido linear;
}
.arrow{
    z-index: 1;
    position: absolute;
    font-size: 270px;
    color: $s-dark;
    transform: rotate(-90deg);
    margin-top: -10px;
    text-shadow: 2px 2px 1px $light-sombra;
    margin-left: -30px;
}
.arrowMenorL{
    z-index: 1;
    position: absolute;
    font-size: 114px;
    color: $s-dark;
    transform: rotate(-90deg);
    margin-top: -20px;
    text-shadow: 2px 2px 1px $light-sombra;
    margin-left: 60px;
}
.arrowMenorR{
    z-index: 1;
    position: absolute;
    font-size: 134px;
    color: $s-dark;
    transform: rotate(-90deg);
    margin-top: 0px;
    text-shadow: 2px 2px 1px $light-sombra;
    margin-left: -110px;
}
.levelUp{
    color: $s-color;
    font-weight: bold;
    font-size: $f-titleLogin;
    z-index: 2;
    text-shadow: 1px 1px 1px $sombra;
    animation: $modalShow $muitoRapido linear;
    text-transform: uppercase;
    &--expansion{
        color: $s-color;
        font-size: $f-xs;
        z-index: 2;
        margin-top: -70px;
        margin-left: -20px;
        text-shadow: 1px 1px 1px $sombra;      
        animation: $modalShow $muitoRapido linear;
    }   
}