.notification {
  width: 250px;
  position: absolute;
  height: 100px;
  background: white;
  bottom: 10px;
  right: 10px;
  z-index: 999; }
  .notification img {
    width: 100px;
    max-height: 100px; }
