<div class="modal">
    <div class="lightbox"></div>
    <div class="workerBlock">
        <div class="title">Separe as tarefas</div>
        <table class="amountWorkers">
            <tr>
                <th>Trabalho</th>
                <th>Quantidade</th>
                <th></th>
                <th>Skill</th>
            </tr>
            <tr ng-repeat="worker in workers">
                <td><span>{{worker.name}}</span></td>
                <td><input type="number" min="0" class="inputs-text2" ng-model="worker.amount"></td>
                <td><span>{{worker.amount}}</span></td>
                <td><span>{{worker.skill}}</span></td>
            </tr>
            <tr>
                <td colspan="1">total</td>
                <td colspan="3" class="totalWorkers">{{country.totalWorkers + "/" + country.population}}</td>
            </tr>
        </table>
        <button class="button1" ng-click="abrirView('close')" ng-class="!btnWorkers ? 'btnDisable' : ''" ng-disabled="!btnWorkers">alocar trabalhadores</button>
    </div>
</div>