<img ng-src="{{imgUser}}" alt="" class="imgUser">
<br>
<span class="name--user">{{user.nome | capitalize}}</span>
<span class="name--location">{{country.level}} de {{user.feudo}}</span>
<span class="name--location">{{user.pontos}} pontos</span>
<br>
<section class="subOptions">Perfil</section>
<section class="subOptions" ng-click="abrirView('actions', 'hunt')">Ações</section>
<section class="subOptions" ng-click="abrirView('construction', 'construction')">Construção</section>
<!-- <section class="subOptions">Recursos</section> -->
<section class="subOptions" ng-click="abrirView('research')">Pesquisas</section>
<section class="subOptions" ng-click="abrirView('military')">Exército</section>
<section class="subOptions" ng-click="abrirView('workers')">Trabalhadores</section>
<!-- <section class="subOptions">Politicas</section> -->
<!-- <section class="subOptions">Cultura</section> -->
<button class="button1" style="margin-top: 0;" ng-click="abrirView('expansion')">Expandir</button>
<br><br><br>
<span class="name--location">{{dateNow | date: 'HH:mm:ss'}}</span>
<!-- <section class="subOptions">Expandir</section> -->