<div class="modal">
    <div class="lightbox"></div>
    <!-- <button class="button1">Ver mapa</button> -->
    <div class="actionsBlock">
        <div class="close" ng-click="abrirView('fechar')">X</div>
        <div class="selectorActions">
            <span ng-click="abrirView('actions', 'hunt')">Caça</span>
            <span ng-click="abrirView('actions', 'collect')">Coleta</span>
            <!-- <span>Atacar</span> -->
        </div>
        <section class="itens" ng-if="activeAba == 'hunt'">
                <div class="actionItem">
                    <img src="../../assets/img/icons/actions/javali.png" alt="" class="action--img">
                    <table>
                        <tr>
                            <td class="title" colspan="2">Caça tribal</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="subTitle">Quantidade</td>
                        </tr>
                        <tr>
                            <td>Comida</td>
                            <td>8 por caçador/h</td>
                        </tr>
                        <tr>
                            <td>Pele</td>
                            <td>2 por caçador/h</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="subTitle">Trabalhadores</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text" class="inputs-text2"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="subTitle">Tempo da ação</td>
                        </tr>
                        <tr>
                            <td colspan="2"><select name="" id="" class="x-select1">
                                <option value="">1 hora</option>
                                <option value="">2 horas</option>
                                <option value="">3 horas</option>
                                <option value="">4 horas</option>
                                <option value="">8 horas</option>
                                <option value="">12 horas</option>
                                <option value="">24 horas</option>
                            </select></td>
                        </tr>
                    </table>
                    <button class="centralizar button1">Caçar</button>
                </div>
        </section>
        
        <section class="itens" ng-if="activeAba == 'collect'">
                <div class="actionItem">
                    <img src="../../assets/img/icons/construction/tree.png" alt="" class="construction--img">
                    <table>
                        <tr>
                            <td class="title" colspan="2">Coletar madeira</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="subTitle">Quantidade</td>
                        </tr>
                        <tr>
                            <td>Madeira</td>
                            <td>6 por trabalhador/h</td>
                        </tr>
                        <tr>
                            <td>Semente</td>
                            <td>2 por trabalhador/h</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="subTitle">Trabalhadores</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="text" class="inputs-text2"></td>
                        </tr>
                        <tr>
                            <td colspan="2" class="subTitle">Tempo da ação</td>
                        </tr>
                        <tr>
                            <td colspan="2"><select name="" id="" class="x-select1">
                                <option value="">1 hora</option>
                                <option value="">2 horas</option>
                                <option value="">3 horas</option>
                                <option value="">4 horas</option>
                                <option value="">8 horas</option>
                                <option value="">12 horas</option>
                                <option value="">24 horas</option>
                            </select></td>
                        </tr>
                    </table>
                    <button class="centralizar button1">Coletar</button>
                </div>
        </section>
    </div>
</div>