.map{
    flex-direction: column;
    width: 60%;
    min-width: 300px;
    background-image: url("../img/map/background/floresta_s_estrada_large2.jpg");
    background-size: 100%;
    background-position: 70% 100%;
    height: auto;
    position: relative;
    #mapCountry{
        // Escala de 1m : 10 px - 30px padding
        width: 200px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        background-repeat: no-repeat;
        background-position: center;
        // padding: 30px;
        box-sizing: border-box;
    }
    .nameLocation{
        color:$white;
        text-transform: uppercase;
        font-size:$f-xs;
        letter-spacing: 2px;
        text-shadow: 1px 1px 1px $light-sombra;
        font-weight: bold;
        position: absolute;
        top: 120px;
        background: $p-dark;
    }
    .informations{
        background: $p-color;
        position: absolute;
        top:0;
        width:100%;
        border: $p-dark 5px solid;
        padding: 5px;        
        border-left: none;
        border-right: none;
        height: 30px;
        svg{
            width: 16px;
            height: 16px;
            fill: $p-dark;
            margin-right: 5px;
        }
        ul{
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
            li{
                font-size: $f-medium;
                display: flex;
            }
        }
        .population{
            svg{
                width: 23px;
                height:20px;
            }
        }        
        .moneyGrowth{
            svg{
                width: 18px;
                height:18px;
            }
        }
        .government{
            img{
                width: 18px;
                height: 18px;
                margin-right: 5px;
                margin-top: -1px;
            }
        }
    }
    #timerBuilding{
        &--town_hall{
            background-image: url('../img/icons/construction/hammer.png');
            background-position: center;
            background-size: 90%;
            background-repeat: no-repeat;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 70px;
        }
        &--house_tribal{
            background: url('../img/icons/construction/hammer.png');
            background-position: center;
            background-size: 90%;
            background-repeat: no-repeat;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 70px;
        }
        &--carpintaria{
            background-image: url('../img/icons/construction/hammer.png');
            background-position: center;
            background-size: 80%;
            background-repeat: no-repeat;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 50px;
        }
    }
    .building{
        &--town_hall{
            background-image: url('../img/map/building/town_hall/town_hall.png');
            width: 80px;
            height: 70px;
            background-position: center;
            background-size: 100%;
        }
        &--house_tribal{
            background-image: url('../img/map/building/house/house-group-tribal2.png');
            width: 80px;
            height: 70px;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        &--carpintaria{
            background-image: url('../img/map/building/carpentary/carpintaria.png');
            width: 80px;
            height: 50px;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}