<div class="modal">
    <div class="lightbox"></div>
    <!-- <button class="button1">Ver mapa</button> -->
    <div class="construcaoBlock">
        <div class="close" ng-click="abrirView('fechar')">X</div>
        <div class="selectorConstruction">
            <span ng-click="abrirView('construction', 'construction')">Construções</span>
            <span ng-click="abrirView('construction', 'zoning')">Zoneamento</span>
        </div>
        <section class="itens" ng-if="activeAba == 'construction'">
            <div class="constructionItem" ng-repeat="building in construction | filter: {category: 'building', status: 1}">
                <table>
                    <div class="imgBuild">
                        <img src="{{building.img}}" alt="">
                    </div>
                    <tr>
                        <td class="title" colspan="2">{{building.description}}</td>
                    </tr>
                    <tr>
                        <td class="subTitle" colspan="2">Atributos</td>
                    </tr>
                    <tr ng-repeat="attrs in building.attr">
                        <td>{{attrs.name}}</td>
                        <td>{{attrs.desc}}</td>
                    </tr>
                    <tr>
                        <td class="subTitle" colspan="2">Produção</td>
                    </tr>
                    <tr ng-repeat="productions in building.production">
                        <td>{{productions.name}}</td>
                        <td>{{productions.amount}}</td>
                    </tr>
                    <tr>
                        <td class="subTitle" colspan="2">Recursos necessários</td>
                    </tr>
                    <tr ng-repeat="needResources in building.useResources">
                        <td>{{needResources.name}}</td>
                        <td>{{needResources.amount}}</td>
                    </tr>
                </table>
                <button class="centralizar button1" ng-click="mapFill(building.id)">Construir</button>
            </div>
        </section>
        <section class="itens" ng-if="activeAba == 'zoning'">
            <div class="constructionItem" ng-repeat="building in construction | filter: {category: 'zoning', status: 1}">
                <table>
                    <div class="imgBuild">
                        <img src="{{building.img}}" alt="">
                    </div>
                    <tr>
                        <td class="title" colspan="2">{{building.description}}</td>
                    </tr>
                    <tr>
                        <td class="subTitle" colspan="2">Atributos</td>
                    </tr>
                    <tr ng-repeat="attrs in building.attr">
                        <td>{{attrs.name}}</td>
                        <td>{{attrs.desc}}</td>
                    </tr>
                    <tr>
                        <td class="subTitle" colspan="2">Produção</td>
                    </tr>
                    <tr ng-repeat="productions in building.production">
                        <td>{{productions.name}}</td>
                        <td>{{productions.amount}}</td>
                    </tr>
                    <tr>
                        <td class="subTitle" colspan="2">Recursos necessários</td>
                    </tr>
                    <tr ng-repeat="needResources in building.useResources">
                        <td>{{needResources.name}}</td>
                        <td>{{needResources.amount}}</td>
                    </tr>
                </table>
                <button class="centralizar button1" ng-click="mapFill(building.id)">Zonear</button>
            </div>
        </section>
    </div>
</div>