.moreEquips{
    width: 70%;
    height: auto;
    max-height: 90%;
    // min-height: 70%;
    background: $p-color;
    border: solid 5px $p-dark;
    min-width: 400px;
    max-width: 650px;
    padding-bottom: 20px;
    position: relative;
    overflow: auto;
    .close{
        top:5px !important;
        &:hover{
            color: $p-color;
        }
    }
    .title{
        background: $p-dark;
        width: 100%;
        display: block;
        padding: 5px 10px;
        box-sizing: border-box;
        color: $white;
        text-transform: uppercase;
    }
    ul{
        list-style: none;
        li{
            &:hover{
                background: $s-color;
                cursor: pointer;
            }
            table{
                width: 100%;
                color: $gray-dark;
                text-align: center;
                &:hover{
                    color: $white;
                }
                tr{
                    td{
                        &:first-child{
                            text-align: left;
                            padding-left: 10px;
                            width: 300px;
                        }
                        &:last-child{
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}