.sidebar{
    height: auto;
    width: 20%;
    // min-width: 400px;
    background: $p-color;
    flex-direction: column;
    border:solid 5px $p-dark;
    max-width: 500px;
    padding: 40px 0 0;
    img{
        width: 150px;
        height: 160px;
        border: solid $p-dark 5px;
    }
    .subOptions {
        padding: 8px 0;
        width: 100%;
        background: $p-color;
        color: $gray-dark;
        cursor: pointer;
        text-transform: uppercase;
        font-size:$f-medium;
        text-align: center;
        &:hover{
            background: $p-dark;
            color:$white;
        }
    }
}