<div class="modal modalAnimation">
    <!-- <div class="lightbox"></div> -->
    <!-- <img src="../../assets/img/levelup/levelup.gif" alt=""> -->
    <span class="arrow">➠</span>
    <span class="arrowMenorL">➠</span>
    <span class="arrowMenorR">➠</span>
    <span class="levelUp">Expandido</span>
    <span class="levelUp--expansion">+3km²</span>
</div>