.button1{
    width: max-content;
    border: none;
    color: $white;
    margin-top: 20px;
    background: $btn-color;
    cursor: pointer;
    transition: $hyperRapido;
    -webkit-transition: $hyperRapido;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: solid 6px $btn-hoverColor;
    position: relative;
    border-radius: 2px;
    min-height: 40px;
    b {
        width: 40px;
        display: flex;
        justify-content: center;
        border-left: $btn-hoverColor solid 2px;
        height: 40px;
        align-items: center;
        font-size: $f-xs;
        margin-left:15px;
        position: relative;
        right: -15px;
    }
    &:hover{
        border-width: 3px;
        top: 3px;
    }
    &:active{
        border-width: 0px;
        top: 6px;
        
        > b{
            border-color:$gray-lightness;
        }
    }
}
.button-login{
    width: 200px;
    height: 40px;
    border: none;
    color: $white;
    margin-top: 20px;
    background: $btn-color;
    cursor: pointer;
    transition: $hyperRapido;
    -webkit-transition: $muitoRapido;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover{
        background: $btn-hoverColor;
        background-image:$btn-bg-image-hover;
        box-shadow: 0 3px 0 0 $s-color, 0 4px 10px 0 $p-color, 0 6px 12px 0 rgba(0,0,0,.5);
        transform: scale(0.95);
        color: $s-color;
        font-weight: bold;
    }
}
.btnPlus{
    border: none;
    width: 40px;
    height: 20px;
    color: $white;
    font-weight: bold;
    cursor: pointer;
    background: $s-color;
    &:hover{
        background: $s-dark;
    }
}