.x-radio1{
    width: 300px;
    height: 99%;
    margin: 0 30px;
    background: $template-background;
    position: relative;
    display: block;
    min-width: 300px;
    label {
        height: 100%;
        .body--template {
            width: 100%;
            height: 100%;
            padding: 15px;
            .tooltip{
                @extend .tooltip1;
                transition: $hyperRapido;
            }
            &__cabecalho, &__menu, &__banner, &__conteudo, &__footer, &__logo{
                border: solid 1px $white;
                position: relative;
                &:hover{
                    background: $p-dark;
                    > .tooltip{
                        transition: $hyperRapido;
                        display: block;
                    }
                }
            }
            &__cabecalho {
                background: $template-cabecalho-background;
            }
            &__menu {
                background: $template-menu-background;
            }
            &__banner {
                background: $template-banner-background;
            }
            &__conteudo {
                background: $template-conteudo-background;
            }
            &__footer {
                background: $template-footer-background;
            }
            &__logo{
                background: $template-logo-background;
                &:hover{
                    background: $p-color;
                }
            }
        }
    }
}
input[type=radio] {
    -webkit-appearance: none;
    &:checked{
        + .x-radio1{
            background: $p-dark;
            box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.4);
        }
    }
}