.inputs-text1{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $font-color1;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $gray-light;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
    outline: none;
    &:focus{
        transition: $hyperRapido;
        box-sizing: border-box;
        box-shadow: 5px 5px 6px rgba(0,0,0,.2);    
    }
}
.inputs-text2{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: transparent;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid $font-color2;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
    outline: none;
    color: $i-color;
    &::-webkit-input-placeholder{
        transition: $muitoRapido;
        color: $font-color2;
    }
    &:focus{
        transition: $rapido;
        box-sizing: border-box;
        border-color: $i-hoverColor;
        color: $i-hoverColor;
        border-width: 3px;
        &::-webkit-input-placeholder{
            transition: $muitoRapido;
            color: $i-hoverColor;
        }
    }
}

//Input e-mail
.inputs-text-email{
    display: flex;
    width: 100%;
    height: min-content;
    align-items: flex-end;
    input[type=email]{
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: transparent;
        background-clip: padding-box;
        border: none;
        border-bottom: 1px solid $font-color2;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        box-sizing: border-box;
        outline: none;
        color: $i-color;
        &::-webkit-input-placeholder{
            transition: $muitoRapido;
            color: $font-color2;
        }
        &:focus{
            transition: $rapido;
            box-sizing: border-box;
            border-color: $i-hoverColor;
            color: $i-hoverColor;
            &::-webkit-input-placeholder{
                transition: $muitoRapido;
                color: $i-hoverColor;
            }
        }
    }
    select {
        width: 30%;
        height: calc(1.5em + .75rem + 2px);
        padding-left: 15px;
        background: none;
        border: none;
        border-bottom: solid 1px $font-color2;
        color: $font-color2;
        background-image: url("../img/seta-down.png");
        background-position: 98% 4px;
        background-size: 25px 25px;
        background-repeat: no-repeat;
        -webkit-appearance: listbox;
        outline: none;
        &:hover{
            color: $p-color;
            border-color: $p-color;
            cursor: pointer;
        }
        option{
            color:$font-color1; 
        }
    }
    &::-webkit-input-placeholder{
        transition: $muitoRapido;
        color: $gray-light;
    }
    &:focus{
        transition: $rapido;
        box-sizing: border-box;
        border-color: $i-hoverColor;
        color: $i-hoverColor;
        &::-webkit-input-placeholder{
            transition: $muitoRapido;
            color: $i-hoverColor;
        }
    }
}

//Input telefone
.inputs-text-telefone{
    display: flex;
    width: 100%;
    height: min-content;
    align-items: flex-end;
    input[type=telefone]{
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: transparent;
        background-clip: padding-box;
        border: none;
        border-bottom: 1px solid $font-color2;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        box-sizing: border-box;
        outline: none;
        color: $i-color;
        &::-webkit-input-placeholder{
            transition: $muitoRapido;
            color: $font-color2;
        }
        &:focus{
            transition: $rapido;
            box-sizing: border-box;
            border-color: $i-hoverColor;
            color: $i-hoverColor;
            &::-webkit-input-placeholder{
                transition: $muitoRapido;
                color: $i-hoverColor;
            }
        }
    }
    select {
        width: 30%;
        height: calc(1.5em + .75rem + 2px);
        padding-left: 15px;
        background: none;
        border: none;
        border-bottom: solid 1px $font-color2;
        color: $font-color2;
        background-image: url("../img/seta-down.png");
        background-position: 98% 4px;
        background-size: 25px 25px;
        background-repeat: no-repeat;
        -webkit-appearance: listbox;
        outline: none;
        &:hover{
            color: $p-color;
            border-color: $p-color;
            cursor: pointer;
        }
        option{
            color:$font-color1; 
        }
    }
    &::-webkit-input-placeholder{
        transition: $muitoRapido;
        color: $font-color2;
    }
    &:focus{
        transition: $rapido;
        box-sizing: border-box;
        border-color: $i-hoverColor;
        color: $i-hoverColor;
        &::-webkit-input-placeholder{
            transition: $muitoRapido;
            color: $i-hoverColor;
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $p-color;
    transition: background-color 5000s ease-in-out 0s;
}
.has-erro{
    border-bottom: solid 3px $has-erro-color !important;
    position: relative;
    transition: .4s;
    background-image: url('https://emd-public.nyc3.digitaloceanspaces.com/eusouempreendedor-uploads/X.png');
    background-position: 97.5% 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    color: $has-erro-color !important;
    &::-webkit-input-placeholder{
        color: $has-erro-color !important;
        font-weight: bold;
    }
}