<html lang="pt-br" ng-app='dashboard'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../../assets/css/estilo.css">
        <script src="../../node_modules/angular/angular.js"></script>
        <script src="../../../../js/services/timerService.js"></script>
        <script src="../../js/controllers/mainController.js"></script>
        <title>Btl</title>
    </head>
    <body ng-controller="battleCtrl" style="display: block;">
        <!-- <input type="text" placeholder="Quantidade ATK" ng-model="quantInfAtk"> -->
        <input type="text" placeholder="Quantidade DEF" ng-model="quantInfDef">
        <input type="text" placeholder="Rodadas" ng-model="rodada">
        <br><br>
        <span>Comida: {{comida | number:0}}</span>
        <div class="viewBattle">
            <!-- <div class="title">{{'Atacante vs Defensor' }}</div> -->
            <img src="../../assets/img/military/header_fight.png" alt="" class="img--headerFight">
            <ul class="ulAtk">
                <img src="../../assets/img/character-avatar-icons/circle.png" alt="" class="img--border">
                <img src="../../assets/img/background/window2.png" alt="" class="img--backBattle">
                <li><img src="../../../../assets/img/character-avatar-icons/JPG/18.jpg" alt="" class="img--atk"></li>
                <li>Dano do ataque</li>
                <li>{{damageAtk | number:0}}</li>
                <li>Atacantes mortos</li>
                <li>{{deadTroopsDef | number:0}}/{{deadAtkTotal | number:0}}</li>
                <li>Atacantes vivos</li>
                <li>{{battleDef | number:0}}</li>
            </ul>
            <img src="../../assets/img/icons/military/shield.png" alt="" class="img--battle">
            <ul class="ulDef">
                <img src="../../assets/img/character-avatar-icons/circle.png" alt="" class="img--border">
                <img src="../../assets/img/background/window2.png" alt="" class="img--backBattle">
                <li><img src="../../../../assets/img/character-avatar-icons/JPG/19.jpg" alt="" class="img--def"></li>
                <li>Dano dos defensores</li>
                <li>{{damageDef | number:0}}</li>
                <li>Defensores mortos</li>
                <li>{{deadTroopsAtk | number:0}}/{{deadDefTotal | number:0}}</li>
                <li>Defensores Vivos</li>
                <li>{{battleAtk | number:0}}</li>
            </ul>
            <div class="messageBattle">
                {{message}}
            </div>
        </div>
        <button ng-click="calculoBtl()" class="button1">Calcular</button>
    </body>
</html>
