<div class="modal">
    <div class="moreInformations" ng-class="researchData.status === 2 ? 'searchActive': (researchData.status != 1 ? 'searchDisable' : '')">
        <div class="close" ng-click="abrirView('research','close')">X</div>
        <div class="titleDesc" ng-class="researchData.status === 2 ? 'searchActive--Bg':  (researchData.status != 1 ? 'searchDisable--Bg' : '')">detalhes da pesquisa</div>
        <section>
            <div class="image">
                <img src="../../assets/img/icons/research/ouro.png" alt="">
            </div>
            <div class="subBlock">
                <span class="title" ng-class="researchData.status === 2 ? 'searchActive--Bg':  (researchData.status != 1 ? 'searchDisable--Bg' : '')">{{researchData.name}}</span>
                <span class="timeFinish">
                    <img src="../assets/img/icons/research/ampulheta.png" alt="">
                    {{RViewTimeHour + ':' + RViewTimeMinute + ':' + RViewTimeSecond}}
                </span>
            </div>
        </section>
        <table>
            <tr class="attr" ng-class="researchData.status === 2 ? 'searchActive--Bg': (researchData.status != 1 ? 'searchDisable--Bg' : '')">
                <td colspan="2">Pesquisas necessárias</td>
            </tr>
            <tr ng-repeat="NeedResearchs in researchData.needResearch">
                <td colspan="2">{{NeedResearchs}}</td>
            </tr>
            <tr class="attr" ng-class="researchData.status === 2 ? 'searchActive--Bg': (researchData.status != 1 ? 'searchDisable--Bg' : '')">
                <td colspan="2">Atributos</td>
            </tr>
            <tr ng-repeat="Attrs in researchData.attr">
                <td colspan="2">{{Attrs}}</td>
            </tr>
            <tr class="attr" ng-class="researchData.status === 2 ? 'searchActive--Bg': (researchData.status != 1 ? 'searchDisable--Bg' : '')">
                <td colspan="2">Pesquisas liberadas</td>
            </tr>
            <tr ng-repeat="FreeResearchs in researchData.freeResearch">
                <td colspan="2">{{FreeResearchs}}</td>
            </tr>
        </table>
        <button class="button1 centralizar" ng-click="search(researchData.id)" ng-if="researchData.status === 1 && !progressSearch">Pesquisar</button>
        <button class="button1 centralizar btnDisable" ng-if="progressSearch && researchData.status != 2 && researchData.status != 0 && researchData.status != 3">Pesquisar</button>
        <button class="button1 centralizar btnDisable" ng-if="researchData.status === 3">Pesquisado</button>
        <button class="button1 centralizar btnActive" ng-if="researchData.status === 2 && researchData.status != 0 && researchData.status != 3">
            <span>Pesquisando...</span>
        </button>
        <button class="button1 centralizar btnDisable"  ng-if="researchData.status === 0">Não habilitado</button> 
    </div>
</div>