.militaryBlock{
    width: 70%;
    height: auto;
    max-height:90%;
    min-height: 400px;
    background: $p-color;
    border: solid 5px $p-dark;
    z-index: 1;
    min-width: 500px;
    max-width: 650px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    .close{
        &:hover{
            color: $p-color;
        }
    }
    .needResources{
        position: absolute;
        top: 45px;
        left: 10px;
        width: 20%;
        font-size: $f-medium;
        tr td{
            padding: 5px 0;
            &:last-child{
                text-align: right;
            }
        }
    }
    .recrutar{
        position: absolute;
        bottom: 15px;
        left: 10px;
        width: 160px;
        input{
            margin-bottom: -10px;
        }
    }
    .selectorMilitary{
        display: flex;
        span{
            width: 100%;
            background: $p-dark;
            color: $white;
            text-transform: uppercase;
            padding: 8px 0;
            text-align: center;
            cursor: pointer;
            position: absolute;
            top: 0;
            &:hover{
                box-shadow: 0 -3px 1px inset $light-sombra;
            }
        }
    }
    .doll{
        padding: 20px;
        margin: 0 auto;
    }
    .boxEquip {
        position: absolute;
        width: 60px;
        height: 70px;
        background: $p-dark;
        cursor: pointer;
        display:flex;
        align-items: center;
        justify-content: center;
        &:hover{
            background: $s-dark;
        }
        img{
            width: 48px;
            height: 48px;
        }
    }
    #helmet{
        top: 15%;
        left: 25%;
        &:before{
            content: "";
            width: 90px;
            height: 2px;
            background: $p-dark;
            position: absolute;
            left: 60px;
            top: 20px;
        }
        &:hover{
            &::before{
                background: $s-dark;
            }
        }
    }
    #breastplate{
        top: 50%;
        left: 20%;
        &:before{
            content: "";
            width: 110px;
            height: 2px;
            background: $p-dark;
            position: absolute;
            left: 55px;
            transform: rotate(-25deg);
            top: 27px;
        }  
        &:hover{
            &::before{
                background: $s-dark;
            }
        }
    }
    #boots{
        bottom: 5%;
        left: 30%;
        &:before{
            content: "";
            width: 50px;
            height: 2px;
            background: $p-dark;
            position: absolute;
            left: 54px;
            top: 18px;
            transform: rotate(-25deg);
        }
        &:hover{
            &::before{
                background: $s-dark;
            }
        }
    }
    #Gauntlet{
        right: 25%;
        &:before{
            content: "";
            width: 80px;
            height: 2px;
            background: $p-dark;
            position: absolute;
            transform: rotate(-15deg);
            right: 40px;
            top: 30px;
        }
        &:hover{
            &::before{
                background: $s-dark;
            }
        }
    }
    #pants{
        right: 30%;
        bottom: 10%;
        &:before{
            content: "";
            width: 90px;
            height: 2px;
            background: $p-dark;
            position: absolute;
            right: 30px;
            top: 5px;
            transform: rotate(50deg);
        }
        &:hover{
            &::before{
                background: $s-dark;
            }
        }
    }
    #weapon{
        right: 5%;
        top: 15%;
    }
    #shield{
        top: 35%;
        right: 5%;
    }
    table{
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 155px;
        caption{
            background: $p-dark;
            padding: 5px 10px;
            color: $white;
        }
        tr{
            td{
                color: $gray-dark;
                font-size: $f-medium;
            }
        }
    }
}